{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Add question form</title>#}
{#</head>#}
{% extends "layout.html" %}

{%  block content %}
<body>
    <form method="POST">
        <label>Question Title</label><br>
        <textarea rows="4" cols="50" required name="title"></textarea><br>
        <label>Question message</label><br>
        <textarea rows="4" cols="50" required name="message"></textarea><br>
        <input type="submit" value="Submit question">
    </form>
    
</body>
{% endblock %}


