{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Edit page</title>#}
{#</head>#}
{% extends "layout.html" %}

{% block page_title %}
    Ask Mate Q&A
{% endblock %}
{% block content %}
<body>
    <form method="POST">
        <label>Question Title</label><br>
        <textarea rows="4" cols="50" required name="title">{{ title }}</textarea><br>
        <label>Question message</label><br>
        <textarea rows="4" cols="50" required name="message">{{ message }}</textarea><br>
        <input type="submit" value="Edit question">
    </form>
</body>
    {% include 'footer.html' %}
{% endblock %}